<div class="center padded white-bg">
    <div class="content padded"> 
        <div class="padded">
            <h1>My proyects in Data analisis</h1>
        </div>
        <div class="row">
            <div class="card third">
                <a href="https://github.com/david-macias-luevano95/Bellabeat-Case_Study"><img src="{{ url_for('static', filename='bellabeat.jpg') }}" width="250px"></a>
                <h3>Bellabeat</h3>
                <p>Analyzed Bellabeat's smart device data to uncover user behavior insights, guiding marketing strategies to better meet consumer needs. </p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Bellabeat-Case_Study">Link</a>
            </div>
        
            <div class="card third">
                <a href="https://github.com/david-macias-luevano95/Maching-Learning"><img src="{{ url_for('static', filename='maching_learning.jpg') }}" width="250px"/></a>
                <h3>Maching Learning</h3>
                <p>This repository contains a collection of small projects focused on various machine learning techniques and algorithms. 
                    </p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Maching-Learning">Link</a>
            </div>
        
            <div class="card third">
                <a href="https://github.com/david-macias-luevano95/Trading-"><img src="{{ url_for('static', filename='trading.jpg') }}" width="250px"/></a>
                <h3>Trading Proyects</h3>
                <p>This repository contains a collection of algorithmic trading projects that demonstrate various strategies and techniques 
                    used in financial markets.</p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Trading-">Link</a>
            </div>
        </div>
    </div>

</div> 