<div class="center padded">
    <div class="content padded"> 
        <div class="padded">
            <h1>My proyects in Web development </h1>
        </div>
        <div class="row">
            <div class="card third">
                <a href="https://github.com/david-macias-luevano95/Bellabeat-Case_Study"><img src="{{ url_for('static', filename='mailer.jpg') }}" width="250px" height="210"/></a>
                <h3>Mailer APP</h3>
                <p>Mailer application designed to send automated emails using popular email service providers.</p>
                <a class="orange" href="#">Link</a>
            </div>
        
            <div class="card third">
                <a href="https://github.com/david-macias-luevano95/Kreativstorm"><img src="{{ url_for('static', filename='kreatistorm.png') }}" width="250px" height="230"/></a>
                <h3>Kreatistorm</h3>
                <p>Training hands for programig in python</p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Kreativstorm">Link</a>
            </div>
        
            <div class="card third">
                <a href="https://github.com/david-macias-luevano95/Kreativstorm"><img src="{{ url_for('static', filename='movieapp.jpg') }}" width="250px" height="230"/></a>
                <h3>Movies App</h3>
                <p> Movie database application that allows users to explore, search, and manage information about movies. </p>
                <a class="orange" href="#">Link</a>
            </div>
        </div>
    </div>

</div> 