<div class="center">
    <div class="content">
        <div class="row">
            <div class="left">
                <h1>I am Electronic Engineer transitioning to the tech world.</h1>
                <h2>Hello! I'm David Macias, an Electronics Engineer with a strong passion for technology and problem-solving.
                   </h2> 
                <h2>  
                    I'm actively seeking my first opportunity to apply my skills in a tech-driven environment.</h2>      
                    <h2>  
                      My interests lie in 
                        programming, web development, data analisis,mathematics and machine learning, and I am excited to contribute to 
                        innovative projects while continuing to grow professionally.</h2> 
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='portafolio.jpg') }}" width="550px"/>
            </div>
            
        </div>
    </div>
</div> 